@media screen and (max-width: 60em) {
 #responsive-menu li {
     display:block;
     width:100%;
 }
}

.table-2-even td {
    width:50%;
}

input[type=checkbox] {
    margin-top:15px;
}

#logo {
    padding-left: 0.9375rem;
}

h3 {
    border-bottom:1px #a0bcd3 solid;
}

tbody, thead {
    border:0 !important;
}

.top-bar h3 {
    text-align:right;
    padding-right: 0.9375rem;
    color:#fff;
}

.top-bar ul {
    background:none;
}

.top-bar ul a {
    color:#0066a0;
    font-weight:600;
}

a {
    color:#0066a0;
}

@media screen and (max-width: 40em) {
 .top-bar h3 {
    display:none;
 }
}

.top-bar {
    background: rgb(190,218,242);
    background: -moz-linear-gradient(top, rgba(190,218,242,1) 0%, rgba(160,188,211,1) 100%);
    background: -webkit-linear-gradient(top, rgba(190,218,242,1) 0%,rgba(160,188,211,1) 100%);
    background: linear-gradient(to bottom, rgba(190,218,242,1) 0%,rgba(160,188,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bedaf2', endColorstr='#a0bcd3',GradientType=0 );
}
.button {
    background-color:#0066a0;
}

.highlightfixed   { font-family: Courier;
                    font-size: 13px;
                    font-weight: normal;
                    color: #5A5041; }
                    
                    